@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(http://fonts.googleapis.com/css?family=Lora);

* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    font-family: 'Abel', sans-serif;
    margin: 0;
    padding: 0;
}

@media (max-width: 980px) {
    body {
      padding-top: 0;
    }
  }


/*Text formats*/

h1, h2{
    color: #000;
}

h1 {
    font-size: 80px;
}

/**/

/*Main page container*/
body {
    background-repeat: repeat;
    background-position: top right;
    background-attachment: fixed;
}

.container-center {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

}

/**/

/*Jumbo Header*/

.header {
    color: #000;
    position: relative;
    display: block;
    top: 0px;
    width: 100%;
    height: 370px;
    background-size: 100% 100%;
    background-color: #fff;
    text-shadow: 0 1px 3px rgba(255,255,255,.4), 0 0 30px rgba(255,255,255,.075);

}

.headerimage {
    /*background: url("../../IMGs/download-galaxy-hd.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(202, 230, 217);
}

.header h2 {
    font-size: 22px;
    line-height: 1.25;
    position: relative;
}

.header h1 {
    font-size: 70px;
    position: relative;
}

.name {
    margin-top: 110px;
    margin-bottom: 25px;
    margin-left: 80px;
}

.objective {
    margin-left: 80px;
}

.loginbox {
    position: relative;
    display: block;
    float: left;
    width: 230px;
    min-height: 30px;
    border: 1px double rgb(201, 201, 201);
    border-radius: 3px;
    height: 235px;
    margin-left: 50px;
    margin-top: 65px;
    margin-bottom: 90px;
    background-color: rgb(255,255,255);
}

.members h2 {
    width: 100%;
    color: rgb(94, 94, 94);
    font-size: 18px;
    font-weight: bolder;
    text-shadow: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.logininput {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.logininput input {
    height: 35px;
    border-radius: 2px;
    font-size: 12px;
    margin-bottom: 6px;
}

.loginbtn {
    padding: 6px 0px 6px;
    text-align: center;
    background-color: rgb(94, 94, 94);
    border-radius: 2px;
    color: #fff;
    display: block;
    margin-bottom: 6px;
    margin-top: 5px;
}

.logsignup a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #808080;
}

.signupbtn {
    padding: 6px 0px 6px;
    text-align: center;
    background-color: rgb(94, 94, 94);
    border-radius: 2px;
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.title {
    display: block;
    float: left;
    width: 665px;
    min-height: 30px;
}

/*Create Project page*/

.background {
    background-color: rgb(202, 230, 217);
    color: #000;
    position: relative;
    display: block;
    top: 0px;
    width: 100%;
    height: 1200px;
    background-size: 100% 100%;
    text-shadow: 0 1px 3px rgba(255,255,255,.4), 0 0 30px rgba(255,255,255,.075);
}

.cpfooter {
    background-color: rgb(202, 230, 217);
    height: 200px

}

.pagehead {
    display: block;
    float: left;
    width: 665px;
    min-height: 30px;
}

.pagehead h2 {
    font-size: 18px;
    line-height: 1.25;
    position: relative;
    margin-bottom: 90px;
}

.pagehead h1 {
    font-size: 55px;
    position: relative;
}

.pagehead .name {
    margin-top: 90px;
    margin-bottom: 20px;
    margin-left: 80px;
}

.projectbuilder {
    background-color: #fff;
    width: 100%;
    height: 800px;
    border: 1px solid rgb(209, 209, 209);
    margin-bottom: 40px;
}

/*View Project Page*/

.viewproject-whitespace {
    height: 40px;
    background-color: rgb(231, 231, 231);
    width: 100%;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.viewproject-keyitems {
    height: 240px;
    background-color: rgb(231, 231, 231);
    width: 100%;
    border: 1px solid rgb(209, 209, 209);
}

.projectjumbotron {
    width: 100%;
    height: 425px;
    background-color: rgb(78, 78, 78);
    margin-left: auto;
    margin-right: auto;
}

.projecttitle {
    height: 120px;
    background-color: rgba(0,0,0,0.7);
    margin-top: 305px;
    width: 100%;
    position: absolute;
}

.projecttitle .container-center h1 {
    color: #fff;
    margin-left: 80px;
    margin-bottom: 0;
    font-size: 30px;
    margin-top: 20px;
    width: 600px;
    font-weight: normal;
}

.projecttitle .container-center h2 {
    color: #fff;
    margin: 0;
    margin-left: 80px;
    font-size: 17px;
    width: 700px;
}

.projectbody {
    background-color: #fff;
    width: 100%;
    height: 800px;
    margin-bottom: 40px;
}

/* View member page */

.memberinfo {
    height: 400px;
    background-color: rgb(231, 231, 231);
    width: 100%;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.ownedprojects {
    margin-left: 80px;
    float: left;
    width: 431;
}

.contibutedprojects {
    float: left;
}

.projectlists {
    margin-top: 40px;
    height: 800px;
}

/* Search page */

.searchfilters {
    height: 300px;
    background-color: rgb(231, 231, 231);
    width: 100%;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.search-darkspace {
    background-color: rgb(78, 78, 78);
    height: 30px;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.searchtitle h3 {
    padding-top: 20px;
    margin: 0;
    margin-left: 80px;
    float: left;
    width: 500px
}

.searchtitle a {
    float: right;
    font-size: 23px;
    padding-top: 30px;
    color: #444;
    margin-right: 80px;
}

.searchfilters-column {
    height: 260px;
    width: 431px;
    margin-left: 80px;
    margin-top: 15px;
    float: left;
}

.searchfilters-column input {
    border-radius: 2px;
    width: 300px;
    height: 28px;
    font-size: 12px;
    margin-bottom: 5px;
}

.searchfilters-column p {
    float: left;
    padding-top: 3px;
    padding-right: 10px;
    color: rgb(60,60,60);
}

.sfcolumn-right {
    margin-left: 0px;
}

/* Members */

.memberlist {
    margin-top: 40px;
    height: 800px;
}

/* Projects */

.projectlist {
    margin-top: 40px;
    height: 800px;
}

/**/

/*Main navbar - changed to fixed top navbar through js based on scroll*/

.navbar {
    margin-bottom: 0px;
    background-color: #fff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(209, 209, 209);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(209, 209, 209);
    background-image: none;
    border-radius: 0px;
    height: 70px;
}

.navbar:before, .navbar:after {
    display: table;
    line-height: 0;
    content: "";
}

.navbar:after {
    clear: both;
}

.navbar.navbar-fixed-top {
    position: fixed;
    width: 100%;
    border-top: none;
    margin-right: auto;
    margin-left: auto;
    top: 0px;
    opacity: 0.95;
}

.navbar .nav {
    margin: 0;
    padding: 0;
    margin-top: 15px
}

.navbarspace {
    display: block;
    height: 70px;
    background-color: #fff;
}

.home {
    padding-top: 10px;
    padding-right: 20px;
}

.marg {
    margin-right: 80px;
    margin-left: 80px;
}

.navbar .nav > li > .appnav {
    text-align: center;
    position: relative;
    font-size: 14px;
    padding: 10px 18px 10px;
    text-shadow: none;
    color: rgb(8, 121, 53);
}

.navbar .nav > li > a {
    padding: 0;
}

.navbar-search  {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.navbar-search input {
    border-radius: 2px;
    width: 250px;
    height: 35px;
    font-size: 12px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-right: 16px;
    margin-left: 16px;
}

.navbar .nav > li > a > p {
    color: rgb(66, 92, 82);
    font-size: 30pt;
}

/**/


/*Sections holding the cards*/

.section {
    height: 560px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(209, 209, 209);
}

.section:nth-child(2n) {  
   background-color: rgb(231, 231, 231);
}

.section_label {
    position: relative;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 28px;
}

.mission {
    height: 250px;
    border-bottom: none;
}

.missionstatement {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
}

.missionstatement h2 {
    font-size: 23px;
}

/**/


/*Bottom of the page*/

.footer {
    height: 200px;
    background-color: #fff;
}

.footer-container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

.footer-container ul {
    margin: 0;
    margin-right: 80px;
    margin-left: 80px;
}

.footer-container > ul > li > a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 16px 10px;
    color: rgb(8, 121, 53);
}

.footer-container > ul > li {
    width: 144px;
    float: left;
    border-top: 1px solid rgb(209, 209, 209);
}

/**/

/* Cards */

.cards {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*Setting up both right and left side of the card*/

.card_left_side{
    position: relative;
    float: left;
    height: 200px;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 0 0 0px 2px #ddd;
}

.card_right_side {
    position: relative;
    float: left;
    height: 200px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.card_left_side {
    margin-left: 10px;
    width: 208px;
}

.card_right_side.closed {
    border: 0px;
}

.card_left_side,.card_right_side {
    margin-top: 10px;

}

.card_top, .card_bottom {
    position: absolute;
    width: 100%;
    opacity: 0.3;
    background-color: black;
    border: 1px solid white;
}

.card_top {
    top:0px;
    height: 25%;
}

.card_bottom {
    top: 90%;
    height: 10%;
}

/**/

/*Button for opening the card's right side*/

.open_card_button {
    position: absolute;
    width: 10%;
    left: 90%;
    top: 40%;
    height: 20%;
    background-color: black;
    float: right;
    opacity: 0.2;
    display: none;
}

.open_card_button i {
    position: absolute;
    top: 35%;
}

.open_card_button .icon-forward {
    left: 40%;
}

.open_card_button .icon-backward {
    left: 30%;
}

.card_left_side:hover .open_card_button{
    display: inline;
}

/**/

/*Author images*/

.author {
    position: absolute;
    top: 35%;
    left: -50px;
    padding: 0px;
    background-color: white;
    background: url(http://m.c.lnkd.licdn.com/media/p/5/000/229/24a/3f5689b.jpg);
    background-size: 150px 150px;
    background-position: 70% 5%;
    border-width: 2px;
    border-style: solid;
    border-color: white;
}

.circle {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; 
}

.circle:hover:before {
    position: absolute; display: block; content:'';
    border: 1px solid #5c95c8;
    left: -3%;
    top: -3%;
    height: 104%; width: 104%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; 
}

/**/